<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:tools="http://schemas.android.com/tools">

    <application
            android:allowBackup="true"
            android:dataExtractionRules="@xml/data_extraction_rules"
            android:fullBackupContent="@xml/backup_rules"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:supportsRtl="true"
            android:theme="@style/Theme.JavaAPK"
            tools:targetApi="31">
        <activity
                android:name=".activities.menu.LoginIntoProfileActivity"
                android:exported="false"
                android:label="@string/title_activity_login_into_profile"
                android:theme="@style/Theme.JavaAPK" />
        <activity
                android:name=".activities.menu.ProfilesActivity"
                android:exported="false" />
        <activity
                android:name=".MainActivity"
                android:configChanges="orientation|screenSize"
                android:exported="true"
                android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
                android:name=".event_new_event"
                android:configChanges="orientation|screenSize"
                android:exported="true"
                android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
                android:name=".button_info"
                android:configChanges="orientation|screenSize"
                android:exported="true"
                android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>